.display-page {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 40px;
  background-color: #f0f2f5;
  min-height: 100vh;
  box-sizing: border-box;
  padding-bottom: 120px;
}

.page-title {
  font-size: 2.5rem;
  font-weight: 700;
  color: #2c3e50;
  margin-bottom: 24px;
}

.json-tree-wrapper {
  flex-grow: 1;
  width: 100%;
  max-height: calc(100vh - 200px);
  overflow-y: auto;
}
.json-tree-viewer {
    font-family: Arial, sans-serif;
    background-color: #b5bdc5;
    color: #343a40;
    margin: 0;
    padding: 20px;
    padding-bottom: 100px;
}

.json-tree-viewer h3 {
    color: #1100ff;
    margin-bottom: 15px;
    font-size: 1.5rem;
    margin-left: 20px;

}

.json-tree-viewer div {
    margin: 10px 0;
}

.json-tree-viewer span {
    cursor: pointer;
    transition: color 0.3s;
}

.json-tree-viewer span:hover {
    color: #0056b3;
}

.json-tree-viewer span::before {
    content: '';
    display: inline-block;
    width: 20px; /* space for the indicator */
    text-align: center;
}

.json-tree-viewer div > div {
    margin-left: 20px;
    padding-left: 10px;
    border-left: 1px solid #d3d3d3;
}

/* Style for the plus/minus signs */
.json-tree-viewer span:before {
    font-size: 1.2em;
    line-height: 1.5;
}

.json-tree-viewer span:before {
    content: attr(data-icon);
}


.json-tree-viewer .menu-item {
    padding: 5px 0;
}

